body{
	margin-bottom: 50px;
}

.box {
	border: 1px red dotted;
}

.container {
	max-width: 800px
}
.container.nav {
    max-width: 1000px;
}

img.small{
	height: 30px
}

.comment-reply{
    display: none;
}

.navbar-default {
    margin-bottom:40px;
}

.datetime {
    color:#707070;
}


.icon {
    color:black;
}
.profile-content {
    margin-bottom:20px;
}

.categories-container {
    max-width:800px;
}


.form-con {
    background-color:transparent;
    border-bottom: #AFEEEE 1px outset;
    border-left-style: none;
    border-right-style: none;
    border-top-style: none;
    position: relative;
    margin-bottom: 0;
    margin-top:5px;
}

.navbar-form {
    margin-left:35px;
}

.about {
    font-weight:500;
    font-family: Helvetica, Tahoma, Arial,"Microsoft YaHei", "微软雅黑", sans-serif;
    font-size:15px;
}

.about-icon:hover { color: black; }
.about-icon { color: black; }
