{% extends 'base.html' %}
{% load static %}
{% block login %}

<link rel="stylesheet" type="text/css" href="{% static 'css/detail.css' %}">

<div class="container categories-container">
  <h1 class="text-center">Categories</h1>
  <div class="row">
    {% for cate in cate_list%}
      <div class="col-md-3  text-center">
          <a class="link" href="{% url 'categories_detail' cate=cate %}">
            <h3>{{cate}}</h3>
          </a>
      </div>
     {% endfor %}
  </div>
</div>

{% endblock %}