{% extends 'base.html' %}
{% block content %}
<div class="col-md-12">
  <h1>About</h1>
  <div class="lead about">
    <p>
      暂时先这样吧，这个blog断断续续做有了两个月了<br>
      bootstrap和django都是从零开始学的,边学边做感觉收获很大<br>
      过程中碰到了很多坑，被卡好多次，但最终都靠着各种方法解决了<br>
      我还是很享受这个过程的<br>
      这个小网站就用来更新一些自己的学习心得，当作一个成长的记录<br>
      如果能帮上其他人就更好了<br>
    </p>
    <hr>
    <p>
      咳 还是稍微介绍一下<br>
      95年生于山东临沂某小山沟<br>
      这个时间是2016年10月5日<br>
      坐标是山东济南<br>
      身份是齐鲁工业大学大四学生<br>
      喜欢搞一些有意思的事情，喜欢与众不同<br>
    </p>
  </div>
  <hr>
  <address>
    <i class="icon-envelope-alt icon-lg">: 778617402@qq.com</i>
  </address>
  <hr>
  <address>
    <a class="about-icon" href="https://github.com/lou147">
      <i class="icon-github"></i>
    </a>
    <a class="about-icon" href="http://weibo.com/u/5180092490?refer_flag=1001030102_">
      <i class="icon-weibo "></i>
    </a>
  </address>
</div>
{% endblock %}